<template>
  <div>
    <PageTitle>Hello and welcome!</PageTitle>
    <Gallery/>
    <Paragraph>
      The web doesn’t have to be boxy. Historically, every element in a page is rendered as a
      rectangle of some kind, but it doesn’t have to be this way. With CSS Shapes you can
      create web layouts every bit as stylish as print magazines, but with
      all of the advantages of the web.
    </Paragraph>
    <Paragraph>
      CSS Shapes let your web designs break out of the rectangular grid.
      All of those classic magazine design elements like non-rectangular text
      flow and shaped images can be yours, for the low low price of using a new CSS standard.
      Text can flow, images can be rounded, even just a few non-parallel lines can make
      your site stand out and make your brand distinctive. Standing out is the biggest
      challenge most sites face today. Shapes can help!
    </Paragraph>
    <Paragraph>
      This menu was designed by Norm Cox for the Xerox Star, the world’s first graphical user
      interface.He’s the co-founder of Cox & Hall and has been an interaction/experience design
      consultant since 1982. He also happened to design the document icon for the same interface.
      After Xerox Star, however, the icon disappeared for quite some time.
    </Paragraph>
    <Paragraph>
      After a while spent working in my company’s tools, I started hearing about cool new
      technologiesI wanted to try out. I also found myself wanting to learn about back-end
      languages and concepts. I didn’t have any real justification for learning these other than,
      “just cuz”. I decided to put in place my own sort of practice hours.
    </Paragraph>
    <Paragraph>
      The web doesn’t have to be boxy. Historically, every element in a page is rendered as a
      rectangle of some kind, but it doesn’t have to be this way. With CSS Shapes you can
      create web layouts every bit as stylish as print magazines, but with
      all of the advantages of the web.
    </Paragraph>
    <Paragraph>
      CSS Shapes let your web designs break out of the rectangular grid.
      All of those classic magazine design elements like non-rectangular text
      flow and shaped images can be yours, for the low low price of using a new CSS standard.
      Text can flow, images can be rounded, even just a few non-parallel lines can make
      your site stand out and make your brand distinctive. Standing out is the biggest
      challenge most sites face today. Shapes can help!
    </Paragraph>
    <Paragraph>
      This menu was designed by Norm Cox for the Xerox Star, the world’s first graphical user
      interface.He’s the co-founder of Cox & Hall and has been an interaction/experience design
      consultant since 1982. He also happened to design the document icon for the same interface.
      After Xerox Star, however, the icon disappeared for quite some time.
    </Paragraph>
    <Paragraph>
      After a while spent working in my company’s tools, I started hearing about cool new
      technologiesI wanted to try out. I also found myself wanting to learn about back-end
      languages and concepts. I didn’t have any real justification for learning these other than,
      “just cuz”. I decided to put in place my own sort of practice hours.
    </Paragraph>
  </div>
</template>

<script>
import Paragraph from '../components/Paragraph'
import PageTitle from '../components/PageTitle'
import Gallery from '../components/Gallery'

export default {
  name: 'Home',
  components: {
    Paragraph,
    PageTitle,
    Gallery
  }
}
</script>
