<template>
  <swiper id="swiper" ref="swiper" :options="swiperOption" :style="{fontSize: 0}" class="bg-grey">
    <swiperSlide v-for="url in photos" :key="url">
      <img
        :src="imgSrc(url)"
        :srcset="imgSourceSet(url)"
        sizes="(max-width: 768px) 768px, (max-width: 992px) 992px, (max-width: 2304px) 768px"
        alt=""
      >
    </swiperSlide>
    <div slot="pagination" class="swiper-pagination"/>
    <div slot="button-prev" class="swiper-button-prev outline-none"/>
    <div slot="button-next" class="swiper-button-next outline-none"/>
  </swiper>
</template>

<script>
import '../assets/swiper.css'

import { swiper, swiperSlide } from 'vue-awesome-swiper'
import { flatten, values } from 'lodash'

import { createImageUrls } from '../api'
import { Breakpoints } from '../constants'

export default {
  name: 'Carousel',
  components: {
    swiperSlide,
    swiper
  },
  data() {
    return {
      swiperOption: {
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        pagination: {
          el: '.swiper-pagination'
        },
        slidesPerView: 3,
        breakpoints: {
          [Breakpoints.LG]: {
            slidesPerView: 1
          },
          [Breakpoints.XL]: {
            slidesPerView: 2
          }
        }
      }
    }
  },
  computed: {
    photos() {
      return this.$store.getters.getRandomPhotos(8)
    }
  },
  methods: {
    imgSrc: url => {
      return createImageUrls(url)[Breakpoints.LG].x2.url
    },
    imgSourceSet: url => {
      const urls = createImageUrls(url)
      return flatten(values(urls).map(values))
        .map(({ width, url }) => {
          return `${url} ${width}w`
        })
        .join(', ')
    }
  }
}
</script>

<style>
#swiper .swiper-slide {
  width: 100vw;
  height: 56.25vw;
}

@media (min-width: 768px) {
  #swiper .swiper-slide {
    width: 100vw;
    height: 56.25vw;
  }
}

@media (min-width: 992px) {
  #swiper .swiper-slide {
    width: 50vw;
    height: 28.1vw;
  }
}

@media (min-width: 1200px) {
  #swiper .swiper-slide {
    width: 33.3333vw;
    height: 18.6vw;
  }
}
</style>
