<template>
  <header>
    <router-link ref="logo" to="/" class="text-center block">
      <img alt="Vue logo" src="../assets/logo.png">
    </router-link>
    <FixedHeader :threshold="logoHeight" @update:fixed="check">
      <div>
        <div :style="{height: dummyHeight}" :class="{hidden: !isFixed}"/>
        <nav
          ref="nav"
          :class="{ fixed: isFixed }"
          class="hidden sm:flex text-xl justify-center border-b shadow w-screen bg-white z-20 pin-t"
        >
          <NavLink v-for="page in pages" :to="page.path" :key="page.path">
            {{ page.title }}
          </NavLink>
        </nav>
      </div>
    </FixedHeader>
  </header>

</template>

<script>
import FixedHeader from 'vue-fixed-header'

import NavLink from './NavLink'

export default {
  components: {
    NavLink,
    FixedHeader
  },
  props: {
    pages: {
      type: Array,
      required: true
    }
  },
  data: function() {
    return {
      isFixed: false,
      logoHeight: 0,
      dummyHeight: '0px'
    }
  },
  mounted: function() {
    this.dummyHeight = `${this.$refs.nav.clientHeight}px`
  },
  methods: {
    check: function(isFixed) {
      if (this.isFixed === isFixed) {
        return
      }

      const newHeight = this.$refs.logo.$el.clientHeight
      if (this.logoHeight === newHeight) {
        this.isFixed = isFixed
      } else {
        this.logoHeight = newHeight
      }
    }
  }
}
</script>
