<template>
  <router-link
    :to="to"
    class="whitespace-no-wrap text-lg lg:text-xl text-blue-darker p-6 no-underline hover:underline"
  >
    <slot/>
  </router-link>
</template>

<script>
export default {
  props: {
    to: {
      type: String,
      required: true
    }
  }
}
</script>

<style>
a.router-link-exact-active {
  color: #42b983;
}
</style>
