<template>
  <div
    class="text-center fixed pin-t pin-l z-10 m-4 rounded-full border w-12 h-12 bg-white shadow"
    @click="$emit('click')"
  >
    <Icon class="inline mt-3" name="bars" scale="1.4"/>
  </div>
</template>

<script>
import 'vue-awesome/icons/bars'
import Icon from 'vue-awesome/components/Icon'

export default {
  components: { Icon }
}
</script>
