<template>
  <div>
    <Burger @click="open"/>
    <Overlay :class="{hidden: !isOpen}" @click="close"/>
    <Panel :is-open="isOpen" class="sidebar" @close-click="close">
      <OffCanvasLink v-for="page in pages" :to="page.path" :key="page.path" @click="close">
        {{ page.title }}
      </OffCanvasLink>
    </Panel>
  </div>
</template>

<script>
import Panel from './Panel'
import Burger from './Burger'
import Overlay from './Overlay'
import OffCanvasLink from './OffCanvasLink'

export default {
  components: { Panel, Burger, Overlay, OffCanvasLink },
  props: {
    pages: {
      type: Array,
      required: true
    }
  },
  data: function() {
    return { isOpen: false }
  },
  methods: {
    open: function() {
      this.isOpen = true
    },
    close: function() {
      this.isOpen = false
    }
  }
}
</script>
