<template>
  <router-link
    :to="to"
    class="
      whitespace-no-wrap
      block py-3 px-5 text-lg
      lg:text-xl text-grey no-underline
      hover:underline
    "
    @click.native="$emit('click')"
  >
    <slot/>
  </router-link>
</template>

<script>
export default {
  props: {
    to: {
      type: String,
      required: true
    }
  },
  methods: {
    test: function() {
      console.log('overlay  :', 'test')
    }
  }
}
</script>

<style>
.panel a.router-link-exact-active {
  color: #ffffff;
  background: rgba(120, 120, 120, 0.3);
  box-shadow: 0 0 3px rgba(120, 120, 120, 0.2) inset;
}
</style>
