<template>
  <div class="panel py-10 z-30">
    <div class="text-grey absolute pin-t pin-r p-2" @click="$emit('close-click')">
      <Icon name="times-circle" scale="1.2"/>
    </div>
    <nav>
      <slot/>
    </nav>
  </div>
</template>

<script>
import 'vue-awesome/icons/times-circle'
import Icon from 'vue-awesome/components/Icon'

import { TweenMax, Power4 } from 'gsap'

export default {
  components: {
    Icon
  },
  props: {
    isOpen: {
      type: Boolean,
      required: true
    }
  },
  watch: {
    isOpen: function(isOpen) {
      const x = isOpen ? 0 : -this.$el.offsetWidth
      TweenMax.to(this.$el, 0.6, {
        x,
        ease: Power4.easeOut
      })
    }
  },
  mounted() {
    TweenMax.set(this.$el, {
      x: -this.$el.offsetWidth
    })
  }
}
</script>

<style>
.panel {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  max-width: 90vw;
  background-color: rgba(0, 0, 0, 0.8);
}
</style>
