<template>
  <div class="text-blue-darker">
    <Header :pages="pages"/>
    <ShowAt :breakpoints="{small: 576}" breakpoint="small">
      <OffCanvas :pages="pages"/>
    </ShowAt>
    <main class="pt-6">
      <router-view/>
    </main>
  </div>
</template>

<script>
import { showAt } from 'vue-breakpoints'

import Header from './components/Header'
import OffCanvas from './components/offCanvas/OffCanvas'

export default {
  components: {
    Header,
    OffCanvas,
    ShowAt: showAt
  },
  data: function() {
    return {
      pages: [
        {
          title: 'Home',
          path: '/'
        },
        {
          title: 'About us',
          path: '/about'
        },
        {
          title: 'Contact us',
          path: '/contact'
        }
      ]
    }
  }
}
</script>
